@font-face {
  font-family: 'Cursed Timer ULiL';
  src: url(fonts/CursedTimerUlil.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #feffea;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.drum-machine {
  background-color: #424242;
  height: auto;
  width: 35rem;
  margin: auto;
}
.drum-machine__title {
  font-family: 'Cursed Timer ULiL';
  color: black;
  font-size: 3rem;
  text-align: center;
  background-color: #ededed;
  width: 100%;
  padding: 3rem 0;
  border-radius: 0.6rem;
}

.drum-machine__screen {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1rem 0 1rem;
}

.drum-machine__pads {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.pad {
  background-color: #ededed;
  color: black;
  width: 100%;
  height: 9.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-radius: 0.6rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  outline: none;
  overflow: visible;
}

.pad--pressed {
  background-color: #e574bc;
  color: black;
}

@media (max-width: 768px) {
  .drum-machine__pads button {
    content-visibility: hidden;
  }
}

@media (max-width: 481px) {
  .drum-machine {
    max-width: 20rem;
    min-width: 20rem;
  }

  .drum-machine__title {
    font-size: 2rem;
    text-align: center;
    background-color: #ededed;
    padding: 2rem 0;
    border-radius: 0.6rem;
  }

  .pad {
    height: 6rem;
    border-radius: 0.6rem;
    content-visibility: hidden;
  }
}
